*{
    margin: 0;
    padding: 0;
}

.paralax{ 
    /* Image de fond */
   
    /* Effet paralax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }