* {
    margin: 0;
    padding: 0;
  }
  
  /*Parallax*/
  .back {
    background-image: url("/0_assets/images/fond-degrader.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  
  /*header*/
  .none{
    display: none;
  }
  
  .menu__toggle {
    display: none;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
    margin: 20px;
    align-items: center;
    position: sticky;
    z-index: 32;
    top: 0;
  }
  
  .logo {
    width: 20%;
    margin: 20px;
  }
  
  .logo img {
    width: 50px;
  }
  
.aadi-header-sticky.aadi-header-transparent.aadi-header-v11,
.aadi-header-sticky.aadi-header-transparent.aadi-header-v11 .aadi-top-header,
.aadi-header-sticky.aadi-header-transparent.aadi-header-v11 .aadi-bottom-header,
#main-header .aadi-header-collaspe {
    background-color: #fff !important;
}



  header nav {
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
  }
  
  header nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: Roboto;
    margin-right: 20px;
    text-align: right;
  }
  header nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 22;
    font-family: Roboto;
    font-weight: 300;
  }
  
  header nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
  }
  
  header nav a::after {
    content: "";
    height: 0px;
    width: 10px;
    bottom: -25px;
    left: calc(50% - 5px);
    position: absolute;
    background-color: #ffffff;
    border-radius: 50px;
    transition: all 300ms;
  }
  
  header nav a:hover::after {
    height: 10px;
  }
  
  /*search*/
  form {
    position: relative;
    margin-right: 30px;
  }
  
  form input[type="text"] {
    font-size: 18px;
    width: 0px;
    padding: 8px 0;
    border: none;
    border-radius: 25px 0 0 25px;
    transition: 0.3s all ease-in-out;
  }
  
  form.active input[type="text"] {
    width: 200px;
    padding: 8px 20px;
  }
  
  form button[type="button"] {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border: none;
    border-radius: 100%;
    background-color: #f8540c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  form button[type="button"] svg {
    width: 30px;
    height: 30px;
    transition: 0.3s all ease;
  }
  
  form.active button[type="button"] svg.search,
  form button[type="button"] svg.close {
    width: 0;
    height: 0;
    opacity: 0;
  }
  
  form.active button[type="button"] svg.close {
    width: 25px;
    height: 25px;
    opacity: 1;
  }

  /*Filtre en tête*/
  .recherche{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .search-catalogue {
    width: 90%;
   background-color: #ffffff3f;
   border-radius: 8px;
   padding: 20px;
   border: solid transparent;
   color: #fff;
   font-size: 32px;
   font-family: roboto;
   font-weight: 300;

  }

  .genre{
    width: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;;
  }

  .genre select{
    width: 300px;
    height: 40px;
    background-color: #ffffff83;
    color: white;
    border: solid 1px transparent;
    

  }

  .genre label{
    font-size: 32px;
    font-family: roboto;
    font-weight: 300;
    color: white;
  }

  .type{
    width: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;;
  }
  .type select{
    width: 300px;
    height: 40px;
    background-color: #ffffff83;
    color: white;
    border: solid 1px transparent;
    
  }
  .type label{
    font-size: 32px;
    font-family: roboto;
    font-weight: 300;
    color: white;
  }


  .annee{
    width: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;;
  }
  .annee select{
    width: 300px;
    height: 40px;
    background-color: #ffffff83;
    color: white;
    border: solid 1px transparent;
    
  }
  .annee label{
    font-size: 32px;
    font-family: roboto;
    font-weight: 300;
    color: white;
  }

  .filtre{
    display: flex;
    flex-wrap: wrap;
    
  }

  .liste-bd{
    background-color: #00000054;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
  }

  .bd{
    text-align: left;
    color: white;
    margin: 20px;
    
  }
  
  .bd h1{
    font-family: roboto;
    width: 24px;
    font-weight: 500;
  }

  .bd h2{
    font-family: roboto;
    font-weight: 300;
    background-color: #00000099;
    border-radius: 3px;
    padding: 5px;
  }
  .bd img{
    width: 200px;
    border-radius: 10px;
   
  }

  .barre-change{
    background-color: #00000061;
    width: 300px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
  }

  #retour-arriere{
    background-color: #0000008b;
    width: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
  }

  #prochaine-page{
    background-color: #0000008b;
    width: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
  }

  /*RESPONSIVE*/
@media screen and (max-width: 800px) {

    /*MENUE BURGER*/
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 50px;
      left: 50px;
      width: 30px;
      height: 50px;
      cursor: pointer;
      z-index: 31;
    }
  
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition-duration: 0.25s;
      
    }
    .menu__btn > span::before {
      content: "";
      top: -8px;
    }
    .menu__btn > span::after {
      content: "";
      top: 8px;
    }
    .menu__box {
      z-index: 2;
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #000000;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-decoration: none;
      transition-duration: 0.25s;
    }
  
    .logo {
      width: 30%;
      margin-left: 20%;
    }
  
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background:transparent;
      border-radius: 1px;
      border-left: 0px solid ;
      border-top: 0 solid ;
      box-shadow: 0px 0px 0px 0px ;
      transition: all 0.2s ease;
      margin: 20px;
      align-items: center;
    }

}